/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
*{
	padding:0;
	margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    box-sizing: border-box;
}

html{
    background-image: url(../img/Travel.png);
    background-size: 100%;
    background-repeat: repeat;
}
h1{

}
h2{

}
p{
 margin: 0% 0% 2% 0%;
}

/*******************************************
				Layout
*******************************************/
.wrapper{
	
}
.masthead{
/*	text-align: center;
    margin: 5% 40% 1% 40%; */
    
}

@media screen and (max-width: 500px) { /*One Column*/
    .main{
        margin: 2% 2%;
        background: white;
        opacity: 0.8;
        border-radius: 10px;
        padding: 2% 5%;
        text-align: center;
        }
    .masthead{
        width: 50%;
        margin: 4% 25%;
    }
    .formbox, .formbox2{
        background: transparent;
    }
    .formbox2{
        margin: 3% auto;
    }
}
@media screen and (min-width: 501px) and (max-width: 780px){  /*Two Columns*/

    .main{
        margin: 2% 5%;
        background: white;
        opacity: 0.8;
        border-radius: 10px;
        padding: 2% 5%;
        text-align: center;
        }
    .masthead{
        width: 50%;
        margin: 4% 25%;
    }
    .formbox{
        background: transparent;
        float: left;
        width: 40%;
        margin: 0 auto 0 0;
    }

}

@media screen and (min-width: 781px){  /*four Columns*/

    .main{
        margin: 2% 5%;
        background: white;
        opacity: 0.8;
        border-radius: 10px;
        padding: 2% 5%;
        text-align: center;
        }
    .masthead{
        width: 30%;
        margin: 4% 35%;
    }
    .formbox{
        background: transparent;
    }
}

.main{
	box-shadow: 5px 5px 20px #888888;

}
.foot{
    text-align: center;
    padding: 5% 0;
    color: #808080;
    
}

/*******************************************
				Form Styles
*******************************************/
.formBox{
    
}
input[type=text], input[type=date], input[type=number]{
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 4px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}    
.buttons{
	margin: 4% 0%;
}
#btnReset, #btnSubmit{
    
	padding: 5px 10px !important;
	font-size: 14px !important;
	background-color: rgba(181, 241, 252, 0.5);
	font-weight: bold;
	color: black;
    border: none;
    border-radius: 10px;
    margin: 1% 0%;
}
label{

}
input[type=text],
input[type=number],
input[type=date]{
	font-family: cursive;
    
}
input[type=submit],
input[type=reset]{
	
}
.ui-slider .ui-slider-handle{
    background: white url("../img/Cost.svg") no-repeat scroll 50% 50% !important;
    background-size: contain !important;
    width: 2em !important;
    height: 2em !important;
   
}
.ui-slider-horizontal .ui-slider-handle{
    top: -.7em !important;
    

}
@media all and (min-width: 500px) and (max-width: 779px) {
    #departure, #destination, #departure_dt, #return_dt{
        float: left;
        width: 40%;
        margin: 5% 
    }
    .sliderUI{
    width: 75%;
    margin: 1% auto;
}
    .house{
        position: absolute;
        margin: 0% 0% 0% -36%;
        max-width: 3%;
    }
    .dest{
        position: absolute;
        margin: 0% 0% 0% -16%;
        width: 3%;
    }
    .calendar{
        position: absolute;
        margin: 13% 0% 0% -36%;
        width: 3%;
    }
    .calendar2{
        position: absolute;
        margin: 13% 0% 0% -76%;
        width: 3%;
    }
    
    .cost{
        position: absolute;
        margin: 0% 0% 0% -8%;
        width: 3%;
    }
}
@media all and (min-width: 780px) {
    #departure, #destination, #departure_dt, #return_dt{
        float: left;
        width: 22%;
        margin: 5% 1% 0% 2%;
    }
    .sliderUI{
    width: 25%;
    margin: 1% auto;
}
    .house{
        position: absolute;
        margin: 0% 0% 0% -38%;
        max-width: 3%;
    }
    .dest{
        position: absolute;
        margin: 0% 0% 0% -28%;
        width: 3%;
    }
    .calendar{
        position: absolute;
        margin: 0% 0% 0% -18%;
        width: 3%;
    }
    .calendar2{
        position: absolute;
        margin: 0% 0% 0% -8%;
        width: 3%;
    }
    
    .cost{
        position: absolute;
        margin: 0% 0% 0% -5%;
        width: 2%;
    }
    input[type=number]{
    margin: 3% 0% 2% 0%
    }
}
/*******************************************
				Image Styles
*******************************************/
.people, .calendar2, .calendar, .dest, .house{
    width: 3%;
}
.cost{
    width: 2%;
}


